*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Ignore compiled files in railway-deploy (except Dockerfile and .gitignore)
railway-deploy/*.html
railway-deploy/*.css
railway-deploy/*.js
railway-deploy/*.wasm
railway-deploy/composeResources/
